<div class='contentbox'>
  <table class = transcard>
    <tr>
      <td>Name: <%= @vendor.name %></td>
    </tr>
  </table>
  <hr></hr>
  <div class = 'indexline' id='bottbutts'> 
    <form <%= "style='display:none'" if @last %> action = '/vendors/<%=@vendor.id%>/delete', method='POST'>
      <input type = 'image' src='/assets/trashcan.svg'>
    </form>
    <form action = '/vendors/<%=@vendor.id%>/edit', method='GET'>
      <input type = 'image' src='/assets/edit.svg'>
    </form>
  </div>
    <%= "Cannot delete last vendor" if @last %>
</div>
