<%='No transactions recorded!' if @transactions.length == 0 %>
<form action="/transactions" method="get">
    <select name="sort_order">
      <option name="sort_order" value="DSC">Most Recent</option>
      <option <%="SELECTED" if @order == "ASC" %> name="sort_order" value="ASC">Oldest First</option>
    </select>
     <input type="submit"> 
   </form>
<% @transactions.each do |transaction| %>
  <table style='border: solid; margin: 10px;' class = transcard>
    <tr>
      <td>Amount: £<%= '%.2f' % transaction.amount%></td>
      <td>Date: <%= transaction.time.strftime("%d/%m/%Y")%></td>
      <td>Time: <%= transaction.time.strftime("%-I:%M%p")%></td>
    </tr>
    <tr>
      <td>Vendor: <%= transaction.vendor.name %><br></td>
      <td>Tag:  <%= transaction.tag.name %><br></td>
      <td><a href='/transactions/<%=transaction.id%>'><img width=30px src='/assets/mag.svg'></a></td>
    </tr>
  </table>
<% end %>
