<% @transactions.each do |transaction| %>
  <table class = transcard>
    <tr>
      <td>Amount: £<%= transaction.amount %></td>
      <td>Date: <%= transaction.time.strftime("%m/%d/%Y")%></td>
      <td>Time: <%= transaction.time.strftime("%-I:%M%p")%></td>
    </tr>
    <tr>
      <td>Vendor: <%= transaction.vendor.name %><br></td>
      <td>Tag:  <%= transaction.tag.name %><br></td>
    </tr>
  </table>
  <hr></hr>
<% end %>
