<div class ='contentbox'>
  <%if @transactions.length == 0 %>
    No transactions recorded yet!
  <%else%>
  <form action="/transactions" method="get">
    <select name="sort_order">
      <option name="sort_order" value="DSC">Most Recent</option>
      <option <%="SELECTED" if @order == "ASC" %> name="sort_order" value="ASC">Oldest First</option>
    </select>
    <select name='tag_id' id='tag'>
      <option value = 'all'>All tags</option> 
      <% Tag.all.each do |tag| %>
        <option value = '<%=tag.id%>'><%=tag.name%></option>
      <% end %>
    </select>

    <select name='vendor_id' id='vendor'>
      <option value = 'all'>All vendors</option> 
      <% Vendor.all.each do |vendor| %>
        <option value = '<%=vendor.id%>'><%=vendor.name%></option>
      <% end %>
    </select>
   <input type="submit"> 
   </form>
    <table class = transcard>
      <tr>
        <td><h2>Amount (£)</h2></td>
        <td><h2>Date</h2></td>
        <td><h2>Time</h2></td>
        <td><h2>Vendor</h2></td>
        <td><h2>Tag</h2></td>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= '%.2f' % transaction.amount%></td>
          <td><%= transaction.time.strftime("%d/%m/%Y")%></td>
          <td><%= transaction.time.strftime("%-I:%M%p")%></td>
          <td><%= transaction.vendor.name %><br></td>
          <td><%= transaction.tag.name %><br></td>
          <td><a href='/transactions/<%=transaction.id%>'><img width=25px src='/assets/mag.svg'></a></td>
        </tr>
      <% end %>
  </table>
  <hr></hr>
<%end%>
  <div class='indexline' id='bottbutts'>
    <a href='transactions/new'> <h2>ADD TRANSACTION</h2></a>

    <% total = 0 
       @transactions.each do |transaction|
       total += transaction.amount
    end %>
    <% if @transactions.length > 0 %>
    <h2> TOTAL: £<%='%.2f' % total.round(2)%></h2>
  <%end%>
  </div>
</div> 
