<div class='contentbox'>
  <h2> Create new transaction </h2>
  <form action='/transactions' method='POST'>
    <label for='amount'> Amount (£)</label>
    <input type='number' step = '0.01' name='amount' id='amount'><br><br>
    <label for='tag'> Tag: </label>
    <select name='tag_id' id='tag'>
      <% @tags.each do |tag| %>
        <option value = '<%=tag.id%>'><%=tag.name%></option>
      <% end %>
    </select>
    <label for='vendor'> Vendor: </label>
    <select name='vendor_id' id='tag'>
      <% @vendors.each do |vendor| %>
        <option value = '<%=vendor.id%>'><%=vendor.name%></option>
      <% end %>
    </select>
  <label for='time'> Time: </label>
  <input id= 'time' name= 'time' type='datetime-local' value='<%=DateTime.now.strftime("%Y-%m-%dT%H:%M")%>'>

    <input type='submit'>
  </form>
</div>
